<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <style>
            li{
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <div id = 'section1'>
            <br><h1>ต้องขออภัยด้วย! หน้าเว็บที่คุณต้องการเลือกดูเกิดข้อผิดพลาด!</h1><br>
        </div>
        <h2>แต่ไม่เป็นไร คุณสามารถเลือกกลับไปยังหน้าเหล่านี้ได้</h2><br>
        <ul>
            <li><a href="../view/index.html">Home</a></li>
        </ul>
    </body>
    
</html>